doctype html
html
  head

    block headTitle
      title Landing Page
    //
    // meta tags
    //
    block metaResponsive
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    //
    // icons
    //
    block metaIcons
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/images/icons/apple-touch-icon-57.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icons/apple-touch-icon-114.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icons/apple-touch-icon-72.png')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/icons/apple-touch-icon-144.png')
      link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/images/icons/apple-touch-icon-60.png')
      link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/icons/apple-touch-icon-120.png')
      link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/images/icons/apple-touch-icon-76.png')
      link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/icons/apple-touch-icon-152.png')
      link(rel='icon', type='image/png', href='/images/icons/favicon-196.png', sizes='196x196')
      link(rel='icon', type='image/png', href='/images/icons/favicon-96.png', sizes='96x96')
      link(rel='icon', type='image/png', href='/images/icons/favicon-32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/images/icons/favicon-16.png', sizes='16x16')
      link(rel='icon', type='image/png', href='/images/icons/favicon-128.png', sizes='128x128')
    //
    // application meta tags
    //
    block metaApplication
      meta(name='application-name', content=' ')
      meta(name='msapplication-TileColor', content='#FFFFFF')
      // 144x144
      meta(name='msapplication-TileImage', content='/images/icons/ms-app-image-144.png')
      // 70x70
      meta(name='msapplication-square70x70logo', content='/images/icons/ms-app-image-70.png')
      // 150x150
      meta(name='msapplication-square150x150logo', content='/images/icons/ms-app-image-150.png')
      // 310x150
      meta(name='msapplication-wide310x150logo', content='/images/icons/ms-app-image-310-150.png')
      // 310x310
      meta(name='msapplication-square310x310logo', content='/images/icons/ms-app-image-310.png')
    //
    // sharing meta tags
    block twitterTags
      // Twitter
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='')
      meta(name='twitter:title', content='')
      meta(name='twitter:description', content='')
      meta(name='twitter:creator', content='')
      meta(name='twitter:image:src', content='/images/sharing/meta_image.png')
      meta(name='twitter:domain', content='')
      meta(name='twitter:app:name:iphone', content='')
      meta(name='twitter:app:name:ipad', content='')
      meta(name='twitter:app:name:googleplay', content='')
      meta(name='twitter:app:url:iphone', content='')
      meta(name='twitter:app:url:ipad', content='')
      meta(name='twitter:app:url:googleplay', content='')
      meta(name='twitter:app:id:iphone', content='')
      meta(name='twitter:app:id:ipad', content='')
      meta(name='twitter:app:id:googleplay', content='')
    block facebookTags
      // Facebook
      meta(property='og:title', content='')
      meta(property='og:description', content='')
      meta(property='og:type', content='product')
      meta(property='og:image', content='/images/sharing/meta_image.png')
    //
    // fonts
    //
    block fontFiles
      // Roboto Google Font
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:100,300,700')
    //
    // css
    //
    block externalCSS
      // bootstrap 4
      link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')

    block localCSS

      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/styles.css')
  body
    block bodyContent
      div.wrapper.container-fluid
        div.heading
          div.row.justify-content-xs-center(style='margin: 0 auto')
            div.col-xl-12(style='margin-top: 10px')
              nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
                a.navbar-brand(href='/')
                  img.logo(src='/images/main/LOGO.png')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                div#navbarNavDropdown.navbar-collapse.collapse
                  ul.navbar-nav.mr-auto
                  ul.navbar-nav
                    li.nav-item
                      a.nav-link(href='/portfolio' style='color: white') PORTFOLIO
                    li.nav-item
                      a.nav-link(href='/about' style='color: white') ABOUT US
                    li.nav-item
                      a.nav-link(href='/buy' style='color: white') BUY DESIGN
                    li.nav-item
                      a.nav-link(href='/references' style='color: white') REFERENCES
              div.row.justify-content-center.titleHolder
                h1 CHOSE YOUR IMPRESSIVE LANDING PAGE
              div.row.justify-content-center(style='margin-top: 30px')
                h3 for business and media
              div.row.justify-content-center.controlsHolder
                button.btn.btn-outline-success BUY DESIGN
                button.btn.btn-outline-success GO TO PROJECTS
        div.container(style='margin-top: 100px')
          div.row.justify-content-md-center
            div.col-md-auto.justify-content
              h2 OUR PROJECTS
          div.productsGrid(style='margin-top: 100px')
              img.nav-link.productImage(src='/images/products/1.png')
              img.nav-link.productImage(src='/images/products/2.png')
              img.nav-link.productImage(src='/images/products/3.png')
              img.nav-link.productImage(src='/images/products/4.png')
              img.nav-link.productImage(src='/images/products/5.png')
              img.nav-link.productImage(src='/images/products/6.png')
              img.nav-link.productImage(src='/images/products/7.png')
              img.nav-link.productImage(src='/images/products/8.png')
              img.nav-link(src='/images/products/9.png')
          div.row.justify-content-center.productControls
            button.btn.btn-outline-success() SEE ALL
        div.container(style='margin-top: 100px')
          div.row
            div.col-1
            div.col-10.textWrapper
              h2 ABOUT
              p(style='max-width: 900px') #{text.text}
            div.col-1
        div.container(style='margin-top: 100px')
          div.row
            div.col.textWrapper
              h2 ADVANTAGES
        div.container(style='margin-top: 100px')
          div.row
            div.col.textWrapper
              div.row.advantagesHolder
                div.col.advantages
                  p Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever s
                div.col.advantages
                  img.nav-link(src='/images/main/1 (2).png')
                div.col.advantages
                  div
                    img.nav-link.tickImage(src='/images/main/1 v.png')
                    p Lorem Ipsum is simply dummy.
                  div
                    img.nav-link.tickImage(src='/images/main/1 v.png')
                    p Lorem Ipsum is simply dummy.
                  div
                    img.nav-link.tickImage(src='/images/main/1 v.png')
                    p Lorem Ipsum is simply dummy.
        div.container(style='margin-top: 100px')
          div.row
            div.col.textWrapper
              div.row.advantagesHolder
                div.col.advantages
                  p Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever s
                div.col.advantages
                  img.nav-link.features(src='/images/main/2 (1).png')
                div.col.advantages
                  p Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever s
        div.container(style='margin-top: 100px')
          div.row
            div.col.textWrapper
              div.row.advantagesHolder
                div.col.advantages
                  p Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever s
                div.col.advantages
                  img.nav-link.features(src='/images/main/3 (1).png')
                div.col.advantages
                  p Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever s
        div.container(style='margin-top: 100px')
          div.row.justify-content-xs-center
            div.col-xl.textWrapper
              h2 CONTACT US
              form.mainPage
                div.form-group
                  input.form-control(type='email' id="emailInput1" placeholder="example123@mail.com")
                div.form-group
                  textarea.form-control(id="exampleFormControlTextarea1" rows="9" placeholder="Hello, I like your design")
                div.form-group.sendForm
                  button.btn.btn-outline-success() SEND
      footer
        div.row.justify-content-center
          p behance.net/ivanvanin
    block externalScripts

      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js")


    block localScripts
      script(src='/js/main.js')

