extends default

block bodyContent
  //include navbar.pug
  div.heading
    div.container(style='margin: 0 auto')
      div.container(style='margin-top: 10px')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
          a.navbar-brand(href='/')
            img.logo(src='/images/main/LOGO.png')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          div#navbarNavDropdown.navbar-collapse.collapse
            ul.navbar-nav.mr-auto
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/portfolio' style='color: white') PORTFOLIO
              li.nav-item
                a.nav-link(href='/about' style='color: white') ABOUT US
              li.nav-item
                a.nav-link(href='/buy' style='color: white') BUY DESIGN
              li.nav-item
                a.nav-link(href='/references' style='color: white') REFERENCES
        div.column.justify-content-center
          h2(style='color: white') BUY DESIGN


